/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* Universal Styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

body {
    max-width: 1440px;
    max-height: 652px;
    margin: 0 auto;
}
/* Heading Styles */

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 35px;
    border: 1px solid red;
}

.heading-name {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.resume-btn {
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* Banner Section Styles */

.banner {
    height: 652px;
    background-image: url(../assets/Banner.png);
    background-size: cover;
    background-position: center;
    border: 2px solid goldenrod;
}

.banner-content {
    max-width: 998px;
    max-height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 26px 221px 44px 221px;
    border: 1px solid red;
}
.banner-per-img {
    margin-bottom: 32px;
    border: 1px solid red;
}
.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-bottom: 24px;
    border: 1px solid red;
}

.banner-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 32px;
    border: 1px solid red;
}

.banner-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px 21px 24px;
}