/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* Universal Styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}
/* Heading Styles */

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading-name {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.resume-btn {
    width: 230px;
    height: 58px;
    box-sizing: border-box;
    border-radius: 8px;
    opacity: 0.8;
    padding: 15px 15px 15px 15px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

/* Banner Section Styles */

.banner {
    height: 652px;
    background-image: url(../assets/Banner.png);
    background-size: cover;
    background-position: center;
}

.banner-content {
    max-width: 998px;
    max-height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 26px 221px 44px 221px;
}
.banner-per-img {
    margin-bottom: 32px;
}
.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-bottom: 24px;
}

.banner-description {
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
}

.banner-btn > a {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px 21px 24px;
    text-decoration: none;
}


/* why-web-dev section styles */

.why-dev {
    width: 1140px;
    height: 1395px;
    margin: 75px 149px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    border: 1px solid white;
}

.why-dev-content {
    width: 946px;
    max-height: 1235px;
    display: flex;
    margin: 80px 97px;
    flex-direction: column;
    align-items: center;
}

.why-dev-header {
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 47px;
    margin-bottom: 48px;
}

.why-dev-header-title {
    width: 100%;
    height: 39px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}

.why-dev-header-description {
    height: 52px;
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.why-dev-reason-list {
    height: 1072px;
    width: 946px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 47px;
}

.why-dev-reason-content {
    width: 946px;
    height: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.why-dev-reason {
    width: 850px;
    height: 260px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.reason-img {
    width: 259.56px;
    height: 260.01px;
}

.reason-details {
    width: 650px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 10px 0px;
    margin-right: 85px;
}

.reason-title {
    width: 500px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.reason-description {
    width: 100%;
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

.reason-btn {
    height: 47px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
}

.reason-btn > a {
    width: 110px;
    height: 24px;
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

.reason-2 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.reason-2 img {
    margin-right: 30px;
}

.reason-3 {
    margin-bottom: 0px;
}

/* Inspiration Section Styles */

.inspiration {
    width: 1140px;
    height: 775px;
    margin: 75px 149px;
}
.inspiration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.inspiration-details {
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inspiration-title {
    width: 100%;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.inspiration-description {
    width: 100%;
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.inspiration-content {
    width: 100%;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration-content iframe {
    width: 1076px;
    height: 550px;
    padding: 32px;
    border-radius: 16px;
}


/* Current Target Styles */

.current-target {
    width: 1140px;
    height: 460px;
    margin: 150px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-header {
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.target-heading {
    width: 100%;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.target-description {
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.target-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.target-container {
    width: 364px;
    height: 299px;
    border-radius: 16px;
}

.target {
    width: 284px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 40px;
}

.target-img {
    width: 50px;
    height: 50px;
}
.target-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 7px;
}

.target-details {
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.target-link > a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.tar1 {
    background: rgba(255, 76, 30, 0.05);
}

.tar2 {
    background: rgba(0, 76, 232, 0.05);
}

.tar3 {
    background: rgba(255, 223, 0, 0.05);
}

/* Next Target Style */

.next-target {
    width: 1140px;
    height: 866px;
    margin: 110px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.target-container-I {
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.target-I {
    height: 139px;
    display: flex;
    margin: 40px;
    align-items: center;
    gap: 24px;
}

.target-I-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.target-I-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}

.target-I-description {
    margin-bottom: 24px;
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.target-I-link > a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 0px;
}

.next-target-III {
    margin-bottom: 0px;
}

/* Support Section Styles */

.support {
    width: 1140px;
    height: 313px;
    margin: 70px 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../assets/handshake.jpg); /* Example of a linear gradient background */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}


.support-container {
    width: 1044px;
    height: 185px;
    margin: 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-details {
    width: 730px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.support-description {
    color: rgb(255, 255, 255,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.support-form {
    display: flex;
    width: 684px;
    height: 57px;
}

.support-form input[type='text'] {
    width: 548px;
    height: 100%;
    margin-right: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 25px;   
}

.support-form input[type='submit'] {
    width: 120px;
    height: 100%;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}


/* Footer Styles */

footer {
    width: 1440px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.07);
}

.footer-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 150px;
}

.footer-title {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.footer-img {
    display: flex;
    gap: 24px;
}